<div class="home-container">
  <h1>Bem-vindo ao Sistema de Faturamento</h1>
  <div class="card-container">
    <mat-card class="card" (click)="navigateTo('products')">
      <mat-card-title>Produtos</mat-card-title>
      <mat-card-content>Gerencie os produtos do sistema</mat-card-content>
    </mat-card>

    <mat-card class="card" (click)="navigateTo('invoices')">
      <mat-card-title>Notas Fiscais</mat-card-title>
      <mat-card-content>Gerencie as notas fiscais emitidas</mat-card-content>
    </mat-card>
  </div>
</div>
