<h2>Lista de Produtos</h2>

<mat-card>
  <table mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let product"> {{ product.Name }} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let product"> R$ {{ product.Price | number:'1.2-2' }} </td>
    </ng-container>

    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> Estoque </th>
      <td mat-cell *matCellDef="let product"> {{ product.Available }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let product">
        <button mat-button color="accent" (click)="editProduct(product)">Editar</button>

        <button mat-button color="warn" (click)="deleteProduct(product)">Excluir
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
